<%inherit file="layout.html" />

## provide definitions for blocks we want to redefine
<%def name="title()">
    Welcome to Shortener!
</%def>

## now define the body of the template
    <header>
        <h1><img src="/images/logo.png" /></h1>
    </header>

    <div id="content">

        <p>This is tool to reduce the leng of your link.</p>

        <small>Enter your link:</small>

        <form method="POST" action="/">
            <fieldset>
                <input name="o_link" />
                <input type="submit" value="Submit" />
            </fieldset>
        </form>

    </div>
